body{
    margin: 0;
    background-image: url("./assets/main-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    width: 100%;
    padding: 0;
    position: absolute;
}

#hz1{
    position: relative;
}
a{
    color: white;
   text-decoration: none;
}
nav{
    
    padding: 4px 0px 25px 0px;
    background: rgb(0, 0, 0, 0.5);
}
.list ul li{
    padding: 0px 0px 20px 0px;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 12px;
}

.logo{
    padding-left: 20px;
    height: 1px;
}
.me{
    padding-left: 150px;
    height: 1px;
   margin-left: 100px;
}
.daftar{
   float: right;
   padding-right: 80px;
}
.post{
    color: white;
    margin: 140px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
}
.play{
    font-size: 30px;
}
.new{
    font-size: 13px;;
}
button{
    margin-top: 40px;
    border: 0px;
    background-color: rgb(218, 165, 32);
    padding: 5px 80px 5px 80px;
    font-size: 24px;
    border-radius: 5px;
    font-size: 10px;
}
@media only screen and (max-width: 796px) {
    .list ul li {
      width: 100%;
      display:grid;
    }
  }
#hz2 {
    margin: 0;
    padding: 0;
    height: 650px;
    background-image: url('./assets/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 130px;
    width: 100%;
    position: absolute;

  }
  .gambar{
    background: url('./assets/rockpaperstrategy-1600.jpg');
    background-size: 100% 100%;
    height: 50%;
    width: 50%;
    /* margin-top: -50px;
    margin-left: 300px; */

    margin-left: 35%;
    margin-top: 125px;
    position: absolute;
}


   .bulat{
      padding-top: 300px;
      padding-left: 35%;
      height: 1vw;

  } 

  
.text2{
  display: inline-block;
}
.what{
    
    margin-top: 90px;
    margin-left: 10%;
    position: absolute;
    font-size: 2vw;
}
.the{
    margin-top: 120px;
    font-size: 4vw;
    margin-left: 10%;
    position: absolute;
}
 .sleft{
    margin-left: 30%;
    position: absolute;
    margin-top: 300px;
    margin-right: 25%;
    
}
.sright{

    margin-left: 88%;
    position: absolute;
    margin-top: 300px;
    
} 
.story{
    margin: 130px 0px 0px 0px;
}
/* @media only screen and (max-width: 1100px){

    .gambar{
        
    }
}
   */
