body{
    margin: 0;
    background-image: url("./assets/main-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
#hz1{
    position: relative;
}
a{
    color: white;
   text-decoration: none;
}
nav{
    position:-ms-page;
    padding: 4px 0px 25px 0px;
    background: rgb(0, 0, 0, 0.5);
}
.list ul li{
    padding: 0px 0px 20px 0px;
    display: inline-block;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 12px;
}
.logo{
    padding-left: 20px;
    height: 1px;
}
.me{
    padding-left: 150px;
    height: 1px;
   margin-left: 100px;
}
.daftar{
   float: right;
   padding-right: 80px;
}
.post{
    color: white;
    margin: 140px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
}
.play{
    font-size: 30px;
}
.new{
    font-size: 13px;;
}
button{
    margin-top: 40px;
    border: 0px;
    background-color: rgb(218, 165, 32);
    padding: 5px 80px 5px 80px;
    font-size: 24px;
    border-radius: 5px;
    font-size: 10px;
}

#hz2 {
    position: relative;
    height: 650px;
    background-image: url('./assets/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 190px;
    
  }
  .gambar{
    background: url('./assets/rockpaperstrategy-1600.jpg');
    background-size: 100% 100%;
    height: 300px;
    width: 600px;
    margin-top: -50px;
    margin-left: 300px;
    
}


  .bulat{
      padding-top: 275px;
      padding-right: 200px;
      float: right;
  }

  
.text2{
    font-size: 20px;
    padding: 130px 0px 0px 70px;
}
.the{
    font-size: 50px;
}
.sleft{
    float: left;
    margin-top: 290px;
    position:absolute;
    margin-left: 345px;
    
}
.sright{
    float: right;
    margin-top: 290px;
    margin-right: 270px;
    
}